/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 

#header-tile {
  display: flex;
  align-self: center;
  background-color: grey;
  justify-content: center;
}

.header-container {
  display: flex;
  width: 80%;
  background-color: grey;
}

#nav-links {
  display: flex;
  justify-content: space-around;
}

.nav-item {
  color: white;
}

.index-body {
  display: flex;
  justify-content: center;
}

.todo-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 50%;
}

.todo-card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: grey;
  border: 1px solid black;
}

.options-links {
  display: flex;
  align-self: flex-end;
  justify-content: space-around;
}

.options-link {
  text-decoration: none;
}